.cart-dropdown {
  width: 240px;
  height: 340px;
  position: absolute;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
  padding: 20px;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .cart-empty {
    font-size: 18px;
    margin: 50px auto;
  }

  button {
    margin-top: auto;
  }
}
